@import "./_variables.scss";
@import "./_utilities.scss";
@import "./loaders.scss";

body {
  overscroll-behavior: none;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // background-color: var(--bs-page);https://images.unsplash.com/photo-1521728935364-00584c026397?w=800&auto
  background-image: url("https://images.unsplash.com/photo-1528164604878-28ea0fb4f462?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NzF8fG5hdHVyZSUyMHN1bnJpc2V8ZW58MHx8MHx8fDA%3D");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

